body{
    background-color: #071E3D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

h1{
    text-align: center;
    margin: 5px 10px;
    color: #21E6C1;
}

#header {
    font-size: 60px;
}

#stylingDiv2{
    position:absolute;
    bottom: 0px; 
    
    right: 0px; 
    width: 190vw;
    height: 70vh;
    transform: rotate(135deg);
    translate: 100vh 45vw;
    background-color: #8d129dc0;
    z-index: -1; 
    
} 


#stylingDiv1{
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 190vw;
    height: 80vh;
    transform: rotate(25deg);
    translate: -100vh 45vw;
    background-color: #21E6C1;
    z-index: -1;
}

@media (pointer:none), (pointer:coarse) {
    body{
        overflow: visible;
    }
    
    #stylingDiv1{
        display: none;
    }

    #stylingDiv2{
        display: none;
    }
}  

hr{
    border-color: #21E6C1;
}

#container{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: fit-content;
    border-radius: 5px;
    width: 400px;
    background-color: #1F4287;
    color: #21E6C1;
    box-shadow: 0px 0px 5px #21E6C1;
    padding: 0px 5px 10px 5px;
    font-weight: 600;
    padding-bottom: 15px ;
}

label, button{
    text-align: center;
    margin: 20px;
}

.categoryContainer label{
    display: flex;
    align-items: center;
    margin-left: 0px;
}

input[type='text'],select{
    font-size: 18px;
    display: block;
    margin: auto;
    width: 150px;
    height: 35px;
    margin-top: 5px;
    border-radius: 8px;
    text-align: center;
    border: solid #21E6C1 2px;
    box-shadow: inset 0px 0px 5px #1F4287;
}

input[type='checkbox']{
    accent-color: #21E6C1; 
}

#category{
    display: block;
}

.categoryContainer{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #071E3D; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 30px 0px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.answer, a{
    border: solid #21E6C1 2px;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: fit-content;
    margin: 10px;
    font-weight: 600;
    word-wrap: break-word;
}

.answer:hover{
    cursor: pointer;
    background-color: darkgray;
}

.answersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    margin-bottom: 50px;
    background-color: #21E6C1;
    border: solid;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    font-weight: 600;
    font-size: 17px;
    color: black;
    text-decoration: none;  
    padding-top: 7px;
}

a:hover{
    background-color: #21e6c2c5;
}

.showTimer{
    border-radius: 15px;
    background-color: white;
    text-align: center;
    margin: auto;
    width: 250px;
    box-shadow:inset 0px 0px 5px gray;
    font-weight: 600;
}

h3{
    margin: 5px;
}

#startButton {
    background-color: #21E6C1;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
}

#startButton:hover{
    background-color: #21e6c2c5;
}

@media(max-width:450px) {
    .answersContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container{
        width: 90%;
        margin-bottom: 20px;
    }

    .answer{
        width: 200px;
    }
}
/* #timer{
    height: 25px;
} */